@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    padding: 20px;
    font-size: 100%;
    background-color: #FEFAE0;
    font-family: 'Lora', serif;
}

#container{
    max-width: 1000px;
    min-height: 600px;
    display: flex;
    justify-content: space-between;
    /* margin-inline: auto; */
    /* margin-left: 8em; */
    margin-top: 5rem;

}

.box{
   min-width: 400px;
   min-height: 100px;
   background-color: black;
   color: #fff; 
   font-size: 2rem;
}

/* start of box-1 */
.box-1{
    min-width: 400px;
    min-height: 100px;
    background-color: #03045E;
}
.text{
    line-height: 3rem;
    padding-left: 0.5rem;

}

.text i{
    line-height: 3rem;
    letter-spacing: 0.5rem;
    padding-left: 0.5rem;
}
.text p{
    line-height: 4rem;
    letter-spacing: 0.5rem;
    padding-left: 0.5rem;
}

.number{
    letter-spacing: 1rem;
    line-height: 3rem;
    padding-top: 1rem;
    padding-left: 1rem;
}
.number i{
    line-height: 3rem;
}
/* end of box-1 */


/* start of box-2 */
.box-2{
    min-width: 500px;
    min-height: 100px;
    background-color: #EBEBEB;
}

.table{
    color: #002029;
    line-height: 3rem;
    padding: 0 1rem;
    
}

.table input{
    min-width: 300px;
    min-height: 40px;
}
.table input:hover, input:focus{
    background-color: #002029;
    cursor: pointer;
    color: #F8F9FA;
}

.btn{
    display: flex;
    padding: 0 2rem;
}
.btn button{
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 1rem;
}
.btn button:hover, button:focus{
    cursor: pointer;
    background-color: #2D3142;
    color: #FBFEFB;
}

/* end of box2 */


/* media queries */
@media screen and (min-width: 320px) {
    #container{
        display: flex;
        flex-direction: column;
        border-radius: none;
        width: 300px;
    }
    .box-1{
        border-radius: none;
        width: 300px;
        font-size: 1.5em;
    }
    
    figcaption{
        line-break: 1px;
        margin-top: 10px;
    }
    input{
        width: 100%;
        border-radius: 5px;
        font-size: 1em;
    }
    .box-2{
        min-width: 400px;
        min-height: 680px;
    }
    .table{
        text-align: center;
    }
    textarea{
        width: 300px;
        min-height: 200px;
    }
    p{
        padding-top: normal;
    }
}

@media screen and (min-width: 768px){
    #container{
        display: flex;
        flex-direction: row;

    }

    .box-1{
        min-width: 450px;
    }
    .box-2{
        min-width: 450px;
    }
    .table{
        text-align: start;
    }
    .text{
        line-height: 2em;
    }
    .number{
        margin-top: 1em;
        line-height: 2em;
    }

    
}
@media screen and (min-width: 990px) {

    #container{
        display: flex;
        flex-direction: row;
    }
    figcaption{
        letter-spacing: 5px;
    }
    input{
        font-size: 1em;
        width: 400px;
    }
    textarea{
        width: 300px;
        height: 50px;
    }
    .box-2{
        min-width: 450px;
        min-height: 26em;
    }
    .box-1{
        min-width: 700px;
    }

    .number p{
        line-height: 100px;
        font-size: 70px;
    }
    .table p{
        font-size: 1.5em;
        margin: 0.4em 0;
    }
   .text p, address{
    font-size: 1.5em;
    line-height: 1.5em;
}
}